*{
  text-align: center;
  font-family: copperplate;
  color: maroon;
  
  scroll-behavior: smooth;
  /* 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid red;
  */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  font-size: 20px;
  justify-content: center;
  text-align: center;
  font-family: copperplate;
  color: maroon;
  background-color: darkgoldenrod;
  border: 2px solid silver;
}

Link {
  color: maroon;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  background-color: black;
  justify-content: space-between;
  
}

nav a:hover,
nav a:active {
  color: maroon;
  border-bottom: 2px solid maroon;
}
nav a.active {
  color: ghostwhite;
  background: maroon;
}

h1{
  font-size: 50px;
}

/* .abilityscores {
  border: solid black;
  width: 100px;
  height: 40px;
  font-size: 10px;
  
} */